.visible {
  height: 100px;
  width: 100px;
  background: #dcdcdc;
  margin: 5px;
  border: 1px solid #808080;
  border-radius: 5px;
  text-align: center;
}

.hidden {
  height: 100px;
  width: 100px;
  color: #fff;
  background: #c0c0c0;
  margin: 5px;
  border: 1px solid #808080;
  border-radius: 5px;
}
