.board-grid {
  display: grid;
}

.finished {
  background-color: #a9a9a966;
}

.board-button {
  margin-right: 10px;
}

.time-title {
  position: relative;
  top: auto;
  left: auto;
}

.end-title {
  color: #b22222;
}
